
/* Body */
body {
    background-color: #E5EAEA;
    margin-bottom: 150px;

}

/* Navigation Bar */
.navigation .navbar-brand {
    color: white;
    margin-left: 0px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 5px;
}

.navbar {
    background-color: white;
    max-height: 60px;
    font-size: 24px;
    
}

.navbar-nav {
    /* Box-model */
    padding-top: 6px;
    padding-right: 20px;
  
    /* Typography */
    font-family: Arial;
    font-weight: lighter;
  }

  .dropdown .dropdown-menu {
    background-color: #EDF3F2;
  }

  .dropdown-item {
      color: #686D6C;
  }

  .nav-link {
    color: #686D6C;
  }
  .title {
      font-size: 40px;
      color: #4F85A7;
      font-weight: bold;
      font: Georgia;
      padding-top: 10px;
  }

  .navbar-nav .ml-auto {
    padding-top: 6px;
    padding-right: 20px;
    font-family: Arial;
    font-weight: lighter;
  }

/* Images */

img {
    width:85%;
    height:85%;
}

#description-image {
    float: left;
    width: 200px;
    height: 200px;
}

/* Paragraph */

p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify; 
}

/* Boxes */
.box {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 10px;
    background-color: white;
}

.comparison-header {
  /* Positioning */
  margin-bottom: 10px;
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 30px;
  font-weight: bold;
  color: #1A5276;
  text-align: center;
}

.category {
    font-size: 16px;
}

/* Footer */
footer {
    background-color: #1A5276;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #083048;
    color: white;
    min-height: 60px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
}